
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css" />
    <title>Pac-Trybe</title>
    <script src="Build/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "Build/GAME.json");
    </script>
  </head>
  <body>
    <div id="header">
        <img class="pac-logo" src="/public/assets/images/pac-trybe-logo.png" alt="Pac-Trybe logo">
    </div>
    <div id="gameContainer" style="width: 1024px; height: 768px; margin: auto"></div>
    <footer>
        <img class="trybe-logo" src="/public/assets/images/trybe-pixel-logo.png" alt="Trybe logo">
    </footer>
  </body>
</html>