:root {
  --purple-700: #271444;
  --white: #fff;
}

body {
  background-color: var(--purple-700);
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  padding: 30px;
  text-align: center;
}

.pac-logo {
  width: 500px;
  height: auto;
  position: relative;
  z-index: 1;
}

#mobile-warning {
  text-align: left;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.rocket {
  text-align: center;
  margin-top: 50px;
}

footer {
  position: fixed;
  right: 0px;
  bottom: 0px;
  text-align: right;
  padding: 15px;
}

.trybe-logo {
  width: 30px;
  height: auto;
}

.trybe-logo-pixelated {
  position: fixed;
  top: -95px;
  right: -50px;
  width: 250px;
  height: auto;
}

@media only screen and (max-width: 375px) {
  #header {
    top: 100px;
  }

  .pac-logo {
    width: 400px;
    height: auto;
  }

  .trybe-logo-pixelated {
    top: -25px;
    right: -15px;
    width: 100px;
    height: auto;
  }
}

@media only screen and (max-height: 768px) {
  #header {
    position: fixed;
    z-index: 1;
  }

  .pac-logo {
    width: 200px;
    height: auto;
    position: relative;
    z-index: 1;
  }
  #mobile-warning {
    margin-top: 100px;
  }
}

@media screen and (min-height: 760px) {
  body {
    overflow-y: hidden;
  }
}
